@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $primary;
  color: $black;
}

.pancake {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

//Icons
.icon,
.envelope {
  width: 40px;
}

.mobile-menu {
  width: 30px;
}

@media (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
}
