@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $primary;
  color: $black;
}

.pancake {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

//Icons
.icon,
.envelope {
  width: 40px;
}

.mobile-menu {
  width: 30px;
}

.badge {
  background-color: $orange;
  color: $black;
  padding: 6px 16px;
  @include body-text;
  font-weight: 600;
  width: fit-content;
  text-transform: uppercase;
  border-radius: 15px;
}

@media (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
}
